* {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

@font-face {
    src: url(https://dl.dropbox.com/s/1479f8x52y3z5u4/rainyhearts.ttf);
    font-family: 'hearts';
}

@font-face {
    src: url(https://dl.dropbox.com/s/388cvx0do21kj3n/KiwiSoda.ttf);
    font-family: 'kiwi';
}

div {
    font-family: 'kiwi';
}

.container {
    background-image: url(https://i.pinimg.com/736x/c1/e5/b2/c1e5b289a7939028bb39dbca5b57b906.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

.heading {
    width: 45vh;
    margin-top: -20vh;
}

.content {
    width: 45vh;
    margin-top: 4vh;
}

.footer {
    width: 45vh;
    margin-top: 5.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink {
    50% { border-color: transparent }
}

h1 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid black;
    animation: typing 3s steps(30, end), blink 1s step-end infinite;
    font-size: clamp(3vh, 4vh, 5vh);
}

h2 {
    font-size: clamp(2.75vh, 3vh, 3.25vh);
    padding-top: 0.5vh;
}

.receipt-line {
    font-family: 'hearts';
    font-size: clamp(2vh, 2.25vh, 2.5vh);
}

hr {
    margin-bottom: 0.25vh;
    margin-top: 0.25vh;
    border: none;
    border-top: dashed 1px black;
}

a {
    text-decoration: none;
    color: black;
    transition: opacity 0.2s ease;
}

a:hover {
    opacity: 0.6;
    font-style: italic;
}

.visitor-count {
    font-family: hearts;
    font-size: clamp(1.5vh, 1.75vh, 2vh);
}

.visitor-count img {
    height: 1.5vh;
    width: auto;
}