* {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

@font-face {
    src: url(https://dl.dropbox.com/s/1479f8x52y3z5u4/rainyhearts.ttf);
    font-family: 'hearts';
}

@font-face {
    src: url(https://dl.dropbox.com/s/388cvx0do21kj3n/KiwiSoda.ttf);
    font-family: 'kiwi';
}

div {
    font-family: 'kiwi';
}

.container {
    background-image: url(https://i.pinimg.com/736x/c1/e5/b2/c1e5b289a7939028bb39dbca5b57b906.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    height: 50vh;
    width: 45vh;
    border: 0px;
    position: absolute;
    padding: 5vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.section {
    transform: translateY(-90%);
    width: 45vh;
}

h1 {
    padding-bottom: 0.1vh;
    font-size: clamp(3vh, 4vh, 5vh);
}

h2 {
    font-size: clamp(2.75vh, 3vh, 3.25vh);
    padding-bottom: 0.1vh;
}

.receipt-line {
    font-family: 'hearts';
    font-size: clamp(2vh, 2.25vh, 2.5vh);
}

hr {
    margin-bottom: 0.25vh;
    margin-top: 0.25vh;;
}